
.main_gamepage{
    background-color: rgb(139, 135, 221);
    padding:20px;
    width:90%;
    height:18cm;
    align-items: center;
    display:flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 -5px 40px black, 0 5px 40px black;
    border-radius: 50px;
    box-sizing: border-box;
}

.qcard_container{
    flex:1;
    display:flex;
    align-items:center;
    justify-content: center;
    width:100%;
    padding:10px;
    box-sizing: border-box;
    overflow:auto;
    margin:15px;
}

.scoreboard{
    width:50%;
    text-align: center;
    padding-bottom:20px;
    box-sizing:border-box;
}


