
.main_qcard{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding:20px;
    padding-bottom:30px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.main_qcard h2{
    text-align:center;
}
.main_qcard hr{
    border:0;
    width:90%;
    height:2px;
    background:black;
    margin-bottom:20px;
    margin-top:-5px;
}


.qcard{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    box-sizing: border-box;
    
}

.answers-container{
    display:flex;
    align-items: center;
    flex-direction: column;
    width:80%;
}

.choice_btn{
    width:100%;
    margin:10px;
    margin-top:20px;
    display:flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding:10px;
    border-radius: 5px;
    border:2px solid #ccc;
    background-color: white;
    transition:background-color 0.3s ease;
}

@media (prefer-color-scheme: dark){
    .choice_btn{
        color:black;
    }
}

.choice_btn.correct{
    background-color:green;
    color:white;
}

.choice_btn.incorrect{
    background-color: red;
    color:white;
}

.choice_btn:disabled{
    cursor:not-allowed;
}