
.main_howtoplay{
    background-color: #430962;
    display:flex;
    align-items: center;
    width:70%;
    justify-content: center;
    margin:40px;
    margin-top:-10px;
    border-radius: 30px;
    box-shadow: 0 -5px 40px black, 0 5px 40px black;
}

.main_init_howtoplay{
    width:80%;
    color: white;
    font-size:20px;
    padding:25px;
}

.main_howtoplay h1{
    text-align:center;
}

.main_howtoplay hr{
    margin-top:-10px;
    margin-bottom:40px;
}

@media (max-width: 768px) { 
    .main_howtoplay{
        width:90%;
    }
}