
.main_footer{
    padding:5px;
    margin-top:50px;
    font-weight:bolder;
    color:black;
    height:4cm;
    box-shadow: 0 -10px 15px black;
    background: linear-gradient(to top, #f7f7f7, #623d78);
    color:black;
    width:100%;
    font:serif;
    font-size:15px;
    display:flex;
    align-items: left;
    justify-content: left;
    font-style:italic;
}

.contact_me{
    margin-left:40px;
    margin-top:10px;
}

.contact_me hr{
    border:0;
    width:100%;
    height: 1px;
    background:black;
    margin-top:-10px;
}
