
.main{
    background-color: rgb(139, 135, 221);
    padding:40px;
    width:100%;
    height:60vh;
    align-items: center;
    display:flex;
    justify-content: center;
    margin-left:150px;
    margin-top:-150px;
    box-shadow: 2px 2px 100px black;
}

.welcome_section{
    text-align:center;
    margin-top:-200px;
    align-items: center;
    display:flex;
    flex-direction: column;
}
.get_started_btns{
    display:flex;
    flex-direction: column;
}
button{
    margin:5px;
}
