
.main_pp{
    background-color: #ffffff;
    font:white;
    display:flex;
    padding:50px;
    padding-top:0;
    width:50%;
    height:100vh;
    justify-content: center;
    flex-direction: column;
    margin:40px;
    margin-top:-10px;
    border-radius: 30px;
    box-shadow: 0 -5px 40px black, 0 5px 40px black;
}

@media (prefers-color-scheme: dark){
    .main_pp{
        color:black;
    }
}
.main_pp h1{
    text-align: center;
    margin-bottom:70px;
}

.main_pp hr{
    height:3px;
    background-color: black;
    width:100%;
    margin-bottom:20px;
    margin-top:-30px;
}

.main_pp img{
    width:26px;
    height:23px;
}