
.form_register{
    font-family:Arial, Helvetica, sans-serif;
    width:50%;
    display:block;
    align-items: center;
    text-align: center;
    padding-left:50px;
    padding-right:50px;
    border-left:2px solid black;
    border-right:2px solid black;
    max-height: 70vh;
}

.main_register hr{
    border:0;
    width:100%;
    height:2px;
    background:black;
    margin-top:-30px;
    margin-bottom:30px;
}

.accept_policy {
    padding: 10px;
    background-color: #ffffff;
    border-radius: 2px;
    margin-bottom: 10px;
    width: 70%;
    margin: 20px auto;
    margin-top:30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius:15px;
    justify-content: center;
}

/* Avmerkingsboks */
.accept_policy input[type="checkbox"] {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.accept_policy .privacy-link {
    color: #007BFF;
    text-decoration: none;
}

.accept_policy .privacy-link:hover {
    text-decoration: underline;
}

.form_register input{
    width:80%;
    margin:5px;
    padding:5px;
    border-radius:2px;
}

.form_register label{
    float:left;
    font-weight: bolder;
    margin-left:33px;
}

.form_register h2{
    font-size:40px;
    font-weight: 400;
    font-style: italic;
}

.main_register{
    background-color: rgb(139, 135, 221);
    padding:40px;
    padding-bottom:50px;
    width:60%;
    height:16cm;
    align-items: center;
    display:flex;
    justify-content: center;
    box-shadow: 0 -5px 40px black, 0 5px 40px black;
    border-radius: 50px;
}

.main_register button{
    margin-top:20px;
    border-radius:15px;
    font-weight:bolder;
}

.form_register img{
    width:26px;
    height:23px;
}

.return_button{
    width:10%;
    margin-top:20px;
    align-items:center;
    display:flex;
    justify-content: center;
}

.reg_btns{
    display:flex;
    flex-direction: column;
    width:100%;
    align-items: center;
    justify-content: center;
}

@media (prefers-color-scheme: dark){
    .return_button{
        background: white;
    }
}

@media (prefers-color-scheme: dark){
    .accept_policy{
        color:black;
    }
}


@media (max-width: 768px) {
    .form_register{
        width:80%;
    }

    .main_register{
        width:70%;
        height:19cm;
    }
}